
<%= javascript_include_tag 'jquery.min' %>

<style>
  .content_textarea
  {
    border:1px solid black;
    margin:8px
  }

  .submit{
    margin:8px;
    font-size: 20px;
  }
</style>

<div>

  <div>
    <a href="/dict/packages">返回列表</a>
  </div>

  <form action="/dict/createOrUpdatePackage" method="post">
    <input style="display:none" name="id" value="<%=@package.id if (@package and @package.id!=nil) %>">

    <%["title","title_cn","poster","desc"].each do |name|%>

      <div>
        <div style="width:20%;display:inline-block;vertical-align: top"><span><%=name%></span></div>
        <div style="width:75%;display:inline-block;vertical-align: top">
        <textarea cols=80 rows=3 class="content_textarea" placeholder="<%=name%>" name="<%=name%>" value="<%=@package[name] if @package%>"><%=@package[name] if @package%></textarea>
          </div>
      </div>

    <%end%>

    <hr>


    <div  style="text-align: right;margin-right: 40px">
      <input type="submit" class="submit" value="确定" >
    </div>

  </form>


  <%@package.videos.each do |v|%>
      <div>
        \ <span>id:{<%=v.id%>}</span> :
        <span>title:<%=v.title%></span>  :  <br>
        <span>title_cn<%=v.title_cn%></span>
        <form style="display: inline" action="/dict/remove_video_from_package" method="post">
          <input style="display:none" name="package_id" value="<%=@package.id if (@package and @package.id!=nil) %>">


          <input style="display:none" name="video_id" value="<%=v.id%>" >
          <input type="submit" class="submit" value="delete" >
          <a href="/dict/video?id=<%=v.id%>">go</a>
        </form>

      </div>
  <% end %>

  <% if @package %>
      <form action="/dict/add_video_2_package" method="post">
        <input style="display:none" name="package_id" value="<%=@package.id if (@package and @package.id!=nil) %>">

        <input placeholder="video_id" name="video_id" >

        <div  style="text-align: right;margin-right: 40px">
          <input type="submit" class="submit" value="添加video" >
        </div>

      </form>
  <% end %>
</div>


